/tester_other

/tester_42/monkey_tester/.objs
/tester_42/monkey_tester/std_*
/tester_42/monkey_tester/ft_*

/tester_my/*.out
/tester_my/*.txt
/tester_my/test_container
/tester_my/mytest

/tester_bonus_display/unordered_set
/tester_bonus_display/unordered_multiset
/tester_bonus_display/unordered_map
/tester_bonus_display/unordered_multimap
/tester_bonus_display/fibonacci_heap

/minitest/*_std
/minitest/*_ft

a.out
test.cpp
